.Rproj.user
.Rhistory
.RData
.Ruserdata
*.pdf
*.html
Todo.md
# raw data is too large to push 
ICTRPFullExport-672212-23-11-20.zip
ICTRPFullExport-672212-23-11-20.csv
SAMPLE0.1ICTRPFullExport-672212-23-11-20.csv
data/initial_import/intermediate
data/initial_import/clean
working.Rmd
data/initial_import/intermediate/ictrp.R
working.R
analysis_test.R
d_check.csv
d1.csv